@font-face {
    font-family: Cubic_11;
    src: url("@/assets/fonts/Cubic_11/fonts/ttf/Cubic_11_1.013_R.ttf");
}

$color_primary: #B82A06;
$color_secondary: #3C0C00;
$color_light-grey: #DCDCDC;
$color_tertiary: #FFB3A4;
$color_black: #000000;

$Headling1: 72px;
$Headling2: 56px;
$Headling3: 42px;
$Headling4: 36px;
$Headling5: 30px;
$Headling6: 24px;
$Headling7: 16px;

$line-height: 150%;